/* first comment */

*{
  font-size: 100%;
  /* border: 1px solid red; */
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: Black;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 14px;
  text-align: justify;
  margin: 50px;
  background-image: url(Images/gray_jean.png);
}

/* heading styles */

.title {
  font-size: 48px;
  text-decoration: underline;
  /* color: blue; */
}

header h1 {
  text-align: center;
}

h1 {
  color: Black;
  text-align: left;
  font-size: 25px;
  border-bottom: 1px solid black;
}

h4 {
  font-weight: lighter;
  font-style: normal;;
  margin-bottom: 20px;
  font-size: 20px;
}

p {
  line-height: 2;
  margin: 15px 0;
}

ul, ol {
  margin: 15px 0;
}

a {
  color: red;
  text-decoration: none;
}

/* a:hover {
  color: blue;
  text-decoration: underline;
} */

a:link,
a:focus,
a:active {
  color:black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}

footer p {
  font-size: 10px;
  text-align: center;
}

header {
  background-color: WhiteSmoke;
  color: Black;
  border-bottom: 5px solid grey;
  font-family: 'Balsamiq Sans', cursive;
}

section {
  background-color: WhiteSmoke;
  color: Black;
  border: 1px solid black;
  margin: 30px;
  font-family: 'Balsamiq Sans', cursive;
}

footer {
  background-color: white;
  color:Black;
  font-family: 'Balsamiq Sans', cursive;
}

header,
section,
footer {
  padding: 30px;
}

img {
  /* width: 400px; */
  height: 300px;
}

.block {
  border-bottom: 5px solid grey;
}

/* this code generates a shadow */
.shadow {
  -webkit-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.75);

}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.round {
  border-radius: 50%;
}
.banner {
  height: 500px;
  background-image: url(Images/banner.jpg);
  background-size: cover;
  background-position: center;
\*}

.flex-container {
  display: flex;
  background-color: grey;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

}

.gallery-item {
  width: 25%;
  padding: 4px;

}

.gallery-item img {
  width: 100%;
  height: auto;
}
